.about{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.present{
    width: 30%;
    text-align: justify;
}

#downloadbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff0000;
    color: #FFFFFF;
    padding: 1%;
    width: 60%;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.5s;
}

#downloadbtn img{
    padding: 3%;
    width: 15%;
}

#downloadbtn:hover{
    background-color: #650101;
}

.biography{
    border: 1px solid #A8A7A7FF;
    width: 20em;
}

.picture{
    display: flex;
    justify-content: center;
}

.picture img{
    padding-top: 10px;
    width: 10em;
}

li{
    list-style: none;
    font-size: 16px;
    padding: 0.5%;
    border-bottom: 1px solid #A8A7A7FF;
}

li:last-child{
    border-bottom: none;
}

.entitled{
    font-weight: bold;
}