.nav-bar{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    width: 100%;
    height: 3em;
    background-color: #1c1c42;
    z-index: 3;
}

.nav-content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

.link, .aboutlink{
    min-width: 10em;
    padding: 0.93rem 0.7rem;
    font-weight: bold;
    color: #FFFFFF;
    transition: 0.5s;
}

.link:hover, .aboutlink:hover{
    background-color: #FFFFFF;
    color: #1c1c42;
}

.aboutlink{
    position: relative;
    display: inline-block;
    cursor: default;
}

.dropdown-about{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px #00000033;
    margin-top: 0.9em;
    right: 0.5px;
    z-index: 1;
}

.dropdown-about a{
    color: #000000;
    transition: 0.5s;
    padding: 4% 7%;
}

.dropdown-about a:hover{
    color: #FFFFFF;
    background-color: #1c1c42;
}

.aboutlink:hover .dropdown-about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

