.projectcontent{
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
}

.caroussel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slides {
    display: grid;
}
.slides > .slide {
    grid-area: 1/-1;
}
.slides > button {
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    background: transparent;
    border: none;
    color: #000000;
    position: absolute;
    font-size: 5rem;
    width: 5rem;
    top: 30%;
    transition: opacity 0.3s;
    opacity: 0.7;
    z-index: 5;
}
.slides > button:hover {
    opacity: 1;
}
.slides > button:focus {
    outline: none;
}
.slides > button:first-child {
    left: -50%;
}
.slides > button:last-child {
    right: -50%;
}

.slideContent {
    width: 35em;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 0.5s ease-in-out;
    opacity: 0.7;
    display: grid;
    align-content: center;
    transform-style: preserve-3d;
    transform: perspective(1000px) translateX(calc(100% * var(--offset))) rotateY(calc(-45deg * var(--dir)));
}

.slideContentInner {
    padding: 1em;
    transform-style: preserve-3d;
    transform: translateZ(2rem);
    transition: opacity 0.3s linear;
    text-shadow: 0 0.1rem 1rem #000;
    opacity: 0;
}
.slideContentInner .slideSubtitle,
.slideContentInner .slideTitle {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0.2ch;
    text-transform: uppercase;
    margin: 0;
}
.slideContentInner .slideSubtitle::before {
    content: "— ";  
}
.slideContentInner .slideDescription {
    margin: 0;
    text-shadow: none;
    padding: 1em 1em 0 1em;
    font-size: 0.8rem;
    letter-spacing: 0.2ch;
}

.slide[data-active] {
    display: block;
    border-radius: 10px;
    z-index: 2;
}

.slide[data-active] .slideContentInner {
    opacity: 1;
}
.slide[data-active] .slideContent {
    
    box-shadow: 10px 5px 5px #00000055;
    border-radius: 10px;
    opacity: 1;
}
.slide[data-active] .slideContent:hover {
    transition: none;
}

.slide[data-active] #picture {
   border-radius: 0 ;
}

#picture{
    border-radius: 10px ;
    width: 100%;
    max-height: 20em;
}

.projectcontent p{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.projectcontent a{
    padding: 0.25rem;
    width: 5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    color: #ffffff;
    background-color: #001d4b;
    font-size: larger;
    margin: 0.5rem;
    transition: 0.5s;
}

.projectcontent a:hover{
    background-color: #1e0170;

}

#gitLogo{
    height: 1em;
}
